*.o

.*.swp
*~

Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
config.guess
config.sub
depcomp
install-sh
missing
configure
.deps

/Makefile
clock/Makefile
ephem/Makefile
src/Makefile
test/Makefile
tzpar/Makefile
util/print_resid/Makefile

tempo.cfg
src/tempo
src/config.h
src/version.h

util/print_resid/print_resid
